In [1]:
import pandas as pd
import numpy as np
from pandas import Series , DataFrame

In [2]:
df = pd.read_csv("adult.csv")
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,Unnamed: 14
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [3]:
# shape said us ,how many we are columns and row
df.shape

(32561, 15)

In [4]:
# i wanna work with 10% of data ==> data sampling using pandas random sample function
# technique : random sampling 
df.sample(frac = 0.1)

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,Unnamed: 14
21091,25,Private,236977,HS-grad,9,Separated,Craft-repair,Own-child,White,Male,0,0,40,Mexico,<=50K
28430,38,State-gov,314052,HS-grad,9,Divorced,Adm-clerical,Not-in-family,White,Female,0,0,38,United-States,<=50K
10100,27,Self-emp-inc,120126,9th,5,Never-married,Craft-repair,Own-child,White,Male,0,0,40,United-States,<=50K
2932,32,?,199046,Assoc-voc,11,Never-married,?,Unmarried,White,Female,0,0,2,United-States,<=50K
23171,42,Local-gov,228320,7th-8th,4,Divorced,Other-service,Not-in-family,White,Male,0,0,40,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13656,30,Local-gov,101345,HS-grad,9,Separated,Other-service,Unmarried,White,Female,0,0,26,United-States,<=50K
25535,25,Private,262978,Some-college,10,Never-married,Sales,Not-in-family,White,Male,0,0,30,United-States,<=50K
29665,35,Private,138441,HS-grad,9,Married-civ-spouse,Handlers-cleaners,Husband,White,Male,0,0,35,United-States,<=50K
16801,56,Private,111218,HS-grad,9,Married-civ-spouse,Transport-moving,Husband,White,Male,0,0,60,United-States,<=50K
22415,23,State-gov,173945,Bachelors,13,Never-married,Prof-specialty,Own-child,White,Female,0,0,27,United-States,<=50K

In [5]:
df.sample(frac = 0.5)

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,Unnamed: 14
5805,20,Private,107658,Some-college,10,Never-married,Tech-support,Not-in-family,White,Female,0,0,10,United-States,<=50K
19070,51,Private,360131,5th-6th,3,Married-civ-spouse,Craft-repair,Other-relative,White,Female,0,0,40,United-States,<=50K
4596,39,Self-emp-not-inc,247975,Some-college,10,Never-married,Craft-repair,Not-in-family,Asian-Pac-Islander,Male,0,0,30,United-States,<=50K
7479,70,Self-emp-not-inc,150886,Some-college,10,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,25,United-States,<=50K
24054,62,?,223447,12th,8,Divorced,?,Not-in-family,White,Male,0,0,40,Canada,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29860,50,Private,154728,Some-college,10,Married-civ-spouse,Tech-support,Husband,White,Male,0,0,40,United-States,>50K
26228,21,Private,118401,Some-college,10,Never-married,Other-service,Not-in-family,White,Female,0,0,30,United-States,<=50K
20470,19,Private,197748,11th,7,Divorced,Sales,Unmarried,White,Female,0,0,20,United-States,<=50K
24012,26,Private,18827,Some-college,10,Never-married,Transport-moving,Not-in-family,White,Male,0,0,40,United-States,<=50K
20879,53,Federal-gov,271544,HS-grad,9,Married-civ-spouse,Adm-clerical,Husband,Black,Male,0,1977,40,United-States,>50K

In [7]:
help(df.sample)

Help on method sample in module pandas.core.generic:

sample(n: 'int | None' = None, frac: 'float | None' = None, replace: 'bool_t' = False, weights=None, random_state: 'RandomState | None' = None, axis: 'Axis | None' = None, ignore_index: 'bool_t' = False) -> 'Self' method of pandas.core.frame.DataFrame instance
    Return a random sample of items from an axis of object.

    You can use `random_state` for reproducibility.

    Parameters
    ----------
    n : int, optional
        Number of items from axis to return. Cannot be used with `frac`.
        Default = 1 if `frac` = None.
    frac : float, optional
        Fraction of axis items to return. Cannot be used with `n`.
    replace : bool, default False
        Allow or disallow sampling of the same row more than once.
    weights : str or ndarray-like, optional
        Default 'None' results in equal probability weighting.
        If passed a Series, will align with target object on index. Index
        values in weights not found in sampled object will be ignored and
        index values in sampled object not in weights will be assigned
        weights of zero.
        If called on a DataFrame, will accept the name of a column
        when axis = 0.
        Unless weights are a Series, weights must be same length as axis
        being sampled.
        If weights do not sum to 1, they will be normalized to sum to 1.
        Missing values in the weights column will be treated as zero.
        Infinite values not allowed.
    random_state : int, array-like, BitGenerator, np.random.RandomState, np.random.Generator, optional
        If int, array-like, or BitGenerator, seed for random number generator.
        If np.random.RandomState or np.random.Generator, use as given.

        .. versionchanged:: 1.4.0

            np.random.Generator objects now accepted

    axis : {0 or 'index', 1 or 'columns', None}, default None
        Axis to sample. Accepts axis number or name. Default is stat axis
        for given data type. For `Series` this parameter is unused and defaults to `None`.
    ignore_index : bool, default False
        If True, the resulting index will be labeled 0, 1, …, n - 1.

        .. versionadded:: 1.3.0

    Returns
    -------
    Series or DataFrame
        A new object of same type as caller containing `n` items randomly
        sampled from the caller object.

    See Also
    --------
    DataFrameGroupBy.sample: Generates random samples from each group of a
        DataFrame object.
    SeriesGroupBy.sample: Generates random samples from each group of a
        Series object.
    numpy.random.choice: Generates a random sample from a given 1-D numpy
        array.

    Notes
    -----
    If `frac` > 1, `replacement` should be set to `True`.

    Examples
    --------
    >>> df = pd.DataFrame({'num_legs': [2, 4, 8, 0],
    ...                    'num_wings': [2, 0, 0, 0],
    ...                    'num_specimen_seen': [10, 2, 1, 8]},
    ...                   index=['falcon', 'dog', 'spider', 'fish'])
    >>> df
            num_legs  num_wings  num_specimen_seen
    falcon         2          2                 10
    dog            4          0                  2
    spider         8          0                  1
    fish           0          0                  8

    Extract 3 random elements from the ``Series`` ``df['num_legs']``:
    Note that we use `random_state` to ensure the reproducibility of
    the examples.

    >>> df['num_legs'].sample(n=3, random_state=1)
    fish      0
    spider    8
    falcon    2
    Name: num_legs, dtype: int64

    A random 50% sample of the ``DataFrame`` with replacement:

    >>> df.sample(frac=0.5, replace=True, random_state=1)
          num_legs  num_wings  num_specimen_seen
    dog          4          0                  2
    fish         0          0                  8

    An upsample sample of the ``DataFrame`` with replacement:
    Note that `replace` parameter has to be `True` for `frac` parameter > 1.

    >>> df.sample(frac=2, replace=True, random_state=1)
            num_legs  num_wings  num_specimen_seen
    dog            4          0                  2
    fish           0          0                  8
    falcon         2          2                 10
    falcon         2          2                 10
    fish           0          0                  8
    dog            4          0                  2
    fish           0          0                  8
    dog            4          0                  2

    Using a DataFrame column as weights. Rows with larger value in the
    `num_specimen_seen` column are more likely to be sampled.

    >>> df.sample(n=2, weights='num_specimen_seen', random_state=1)
            num_legs  num_wings  num_specimen_seen
    falcon         2          2                 10
    fish           0          0                  8

In [8]:
# gives us 20 random data point
df.sample(20)

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,Unnamed: 14
23718,50,Private,283676,Some-college,10,Divorced,Craft-repair,Not-in-family,White,Male,0,0,40,United-States,<=50K
23957,29,Federal-gov,184723,Some-college,10,Never-married,Other-service,Not-in-family,White,Female,0,0,40,United-States,>50K
246,58,Private,236596,HS-grad,9,Married-civ-spouse,Adm-clerical,Husband,White,Male,0,0,45,United-States,>50K
24431,25,Private,196771,HS-grad,9,Never-married,Handlers-cleaners,Not-in-family,White,Male,0,0,65,United-States,<=50K
19864,31,Private,179013,HS-grad,9,Separated,Craft-repair,Not-in-family,Black,Male,0,0,40,United-States,<=50K
13032,32,Private,127895,Some-college,10,Never-married,Adm-clerical,Own-child,Black,Female,0,0,40,United-States,<=50K
21881,30,Federal-gov,43953,Assoc-acdm,12,Never-married,Prof-specialty,Not-in-family,White,Female,0,0,40,United-States,<=50K
10762,45,Self-emp-inc,185497,Bachelors,13,Married-civ-spouse,Exec-managerial,Wife,Asian-Pac-Islander,Female,0,0,70,?,<=50K
27842,24,Private,227594,Some-college,10,Never-married,Sales,Own-child,White,Female,0,0,20,United-States,<=50K
11055,20,Private,194138,11th,7,Never-married,Craft-repair,Own-child,White,Male,0,0,20,United-States,<=50K
31897,28,Private,291374,12th,8,Never-married,Sales,Unmarried,Black,Female,0,0,40,United-States,<=50K
1444,56,Self-emp-not-inc,145574,HS-grad,9,Married-civ-spouse,Other-service,Husband,White,Male,0,1902,60,United-States,>50K
26177,62,Private,311495,Some-college,10,Divorced,Exec-managerial,Not-in-family,White,Female,0,0,40,United-States,<=50K
30254,60,Federal-gov,404023,HS-grad,9,Divorced,Exec-managerial,Not-in-family,White,Male,10520,0,40,United-States,>50K
22025,35,Private,38294,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,<=50K
12493,35,Private,31964,Bachelors,13,Married-civ-spouse,Sales,Husband,White,Male,0,0,50,United-States,>50K
17785,42,Private,403187,HS-grad,9,Divorced,Handlers-cleaners,Unmarried,Black,Female,0,0,40,United-States,<=50K
27663,44,Local-gov,144778,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,40,United-States,>50K
17306,30,Private,75573,Bachelors,13,Never-married,Exec-managerial,Not-in-family,White,Female,0,0,45,Germany,<=50K
6451,37,State-gov,191779,Some-college,10,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,<=50K